.main {
  display: flex;
  justify-content: space-between;
}

#users {
  position: relative;
}

#loginForm {
  position: relative;
  display: none;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
  padding: 40px;
  border: 1px solid #000;
}

.label {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 10px;
}

.label input {
  margin-top: 6px;
}

#correctCredentials {
  display: none;
  position: absolute;
  top: 8px;
}

#errorCredentials {
  display: none;
  position: absolute;
  top: 8px;
}

#errorFetch {
  position: absolute;
  bottom: -22px;
  left: 0;
}

.error {
  font-size: 14px;
  color: red;
}

.success {
  font-size: 14px;
  color: green;
}